/* Placeholder */
body {
  margin: auto;
  max-width: 750px;
  justify-content: center;
}

section {
  justify-content: center;
  padding: 20px;
  border: solid black 1px;
  margin: 10px;
  display:flex;
}

.flex-column {
  flex-direction: column;
}

.hidden {
  display: none;
}